<html>
<head></head>
<body>
  <div style="margin:0 auto; padding: 0; width: 100%; font-family: Calibre, 'Circular Std', Arial, Helvetica, sans-serif; color: #0f253a; min-width: 750px;">
    <table style="border-collapse:collapse; padding:0; margin:0; width: 100%; background-color: #fafafa;">
      <tbody>
        <tr>
          <td>
            <table style="width: 100%; border-collapse: collapse;">
              <tbody>
                <tr>
                  <td style="padding-top: 50px; padding-bottom: 40px;">
                    <div style="font-size: 28px; font-weight: 900; text-align: center; color: #0f253a;">
                      homodea
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 50px;">
            <table align="center" style="margin:0 auto; border-collapse: collapse; background: white;">
              <tbody>
                <tr>
                  <td style="min-width: 700px; max-width: 700px;">
                    <div style="padding: 100px 125px;">
                      <div style="font-size: 30px; font-weight: 700; color: #0f253a; padding-bottom: 70px;">{{page.header}}</div>
                      <div style="font-size: 18px; font-weight: 700; color: #0f253a; padding-bottom: 30px; white-space: pre-wrap;">{{page.content}}</div>
                      <span id="cta" style="cursor: pointer; height: 60px; width: 225px; text-align: center; background: -webkit-linear-gradient(left,red,#f30b6e 57.5%,#f30b71 100%); background: linear-gradient(to right,red 0%,#f30b6e 57.5%,#f30b71 100%); display: inline-block;">
                        <a href="{{page.buttonLink}}"" style=" text-decoration: none; padding-top: 20px; font-size:
                          16px; line-height: 20px; color: white; display: inline-block; letter-spacing: 3px;
                          font-weight: 700;">{{page.buttonText}}</a>
                      </span>
                      <div style="padding-top: 70px; padding-bottom: 20px;">
                        <img src="https://static.staging.homodea.com/img/uploads/email-team-avatar.png" style="width: 32px;height: 32px; border-radius: 50%; vertical-align: middle;">
                        <span style="font-size: 14px; font-weight: 700; padding-left: 5px;">Dein homodea-Team</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%; border-collapse: collapse;">
              <tbody>
                <tr>
                  <td style="height: 160px; background-color: #0f253a;">
                    <div style="height: 100px; text-align: center;">
                      <div style="font-size: 23px; color: white; font-weight: 900;">homodea</div>
                      <div style="padding-top: 20px; padding-bottom: 15px;">
                        <a href="https://homodea.com/privacy" style="padding-left: 20px; font-size: 14px; color: #bfbfbf; text-decoration: none;">Datenschutz</a>
                        <a href="https://homodea.com/terms" style="padding-left: 20px; font-size: 14px; color: #bfbfbf; text-decoration: none;">Nutzungsbedingungen</a>
                      </div>
                      <div>
                        <span style="font-size: 14px; color: #bfbfbf;">&#169;2018 homodea</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>